# Ignore the pycache dir
__pycache__/

# Ignore Logs
logs
*.log

# Ignore the build stuff and old directory
dist/
build/
*.spec
old/

# The file containing environment variables 
# .env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
