# Ignore the pycache dir
__pycache__/

# Ignore Logs
logs
*.txt

# Ignore settings.json files
settings.json

# Ignore the build stuff and old directory
dist/
build/
*.spec
old/

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
